include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include bio_sync *.css
recursive-include bio_sync *.csv
recursive-include bio_sync *.html
recursive-include bio_sync *.ico
recursive-include bio_sync *.js
recursive-include bio_sync *.json
recursive-include bio_sync *.md
recursive-include bio_sync *.png
recursive-include bio_sync *.py
recursive-include bio_sync *.svg
recursive-include bio_sync *.txt
recursive-exclude bio_sync *.pyc